body {
  margin: 0;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(227, 235, 255);
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 375px;
  margin: 150px auto;
  margin-bottom: 0%;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}
.content {
  padding: 10px;
  margin: 0px;
}
.svg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 100%;
}
.grey {
  color: grey;
}
.plan {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  padding: 15px;
  margin: 0px 25px;
  border-radius: 10px;
  text-align: center;
}
.annual {
  padding-left: 10px;
}
.change {
  margin-left: 50px;
  padding-top: 10px;
  padding-right: 10px;
}
.change:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}

button {
  /* width:100%; */
  border: none;
  border-radius: 10px;
  margin: 0px 25px;
  margin-top: 20px;
  font-weight: 700;
  background-color: white;
}
.btn-blue {
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: 10px 75px;
}
.btn-trans {
  margin-bottom: 20px;
  padding: 10px 98px;
  color: grey;
}
.btn-blue:hover {
  background-color: hsl(258, 93%, 53%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-trans:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: black;
}
